dbType="dbType"
dsn="dbname=<dbname> sslmode=disable user=<username> password=<pass> host=<hostname>"

dbTypeTest="sqlite3"
dsnTest=":memory:"

env="dev"
debug=true
AutoMigrateDb=true

kafkaBootstrapServers="host.docker.internal:9094"
kafkaConsumerGroupId=codepix
kafkaTransactionTopic="transactions"
kafkaTransactionConfirmationTopic="transaction_confirmation"